<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()" class="form-block">
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('name_ru').touched && form.get('name_ru').invalid}"
    >
      <label for="name_ru">Имя человека на русском:</label>
      <input id="name_ru" type="text" formControlName="name_ru">
      <div
        *ngIf="form.get('name_ru').touched && form.get('name_ru').invalid"
        class="validation"
      >
        <div *ngIf="form.get('name_ru').errors.required">
          Введите имя
        </div>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('name_en').touched && form.get('name_en').invalid}"
    >
      <label for="name_en">Имя человека в оригинале:</label>
      <input id="name_en" type="text" formControlName="name_en">
      <div
        *ngIf="form.get('name_en').touched && form.get('name_en').invalid"
        class="validation"
      >
        <div *ngIf="form.get('name_en').errors.required">
          Введите имя
        </div>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('specialty').touched && form.get('specialty').invalid}"
    >
      <label for="specialty">Специальность</label>
      <input id="specialty" type="text" formControlName="specialty">
      <div
        *ngIf="form.get('specialty').touched && form.get('specialty').invalid"
        class="validation"
      >
        <div *ngIf="form.get('specialty').errors.required">
          Введите специальность
        </div>
      </div>
    </div>

    <div
      class="form-control"
      [ngClass]="{invalid: form.get('dob').touched && form.get('dob').invalid}"
    >
      <label for="dob">Дата рождения</label>
      <input id="dob" type="date" formControlName="dob">
      <div
        *ngIf="form.get('dob').touched && form.get('dob').invalid"
        class="validation"
      >
        <div *ngIf="form.get('dob').errors.required">
          Введите день рождения
        </div>
      </div>
    </div>

    <div class="form-control">
      <label>Кинопроизведения
        <span class="multi-select">
          <div #menu (click)="openMenu()" class="multi-select__select">
            <span #list>
              <span class="multi-select__selected-label" #elements id="{{product._id}}" *ngFor="let product of personProducts">
                {{product.name}}
                <img (click)="removeChecked(product._id)" src="../../../../../uploads/icon-times.svg">
              </span>
            </span>
            <div class="multi-select__options">
              <div class="multi-select__option" *ngFor="let product of products" #elementsOptions name="{{product._id}}"
                (click)="check(product)">
                {{product.name}}
              </div>
            </div>
            <span #placeholder class="multi-select__placeholder"></span>
            </div>
        </span>
      </label>
    </div>


    <div class="img_preview">
      <img
        class="h200"
        [src]="imagePreview"
        *ngIf="imagePreview"
      >
    </div>


    <div>
      <input
        type="file"
        [hidden]="!showButtonUpload"
        (change)="onFileUpload($event)"
        #input
      >
      <button class="btn"
              (click)="triggerClick()"
              [disabled]="form.disabled"
              type="button"
      >
        Загрузить изображение
      </button>
    </div>


    <button
      class="btn"
      type="submit"
      [disabled]="form.invalid || submitted"
    >Обновить
    </button>
  </form>
</div>

<ng-template #loading>
  <div class="text-center">Идет загрузка...</div>
</ng-template>

